@inject XTI_WebApp.Abstractions.IPageContext pageContext
@{
    var serializedPageContext = await pageContext.Serialize();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @{
        var cacheBust = string.IsNullOrWhiteSpace(pageContext.CacheBust)
            ? ""
            : $"?cacheBust={pageContext.CacheBust}";
    }
    <link href="~/styles/css/default.css@(cacheBust)" rel="stylesheet" />
    <link href="~/styles/css/fontawesome/all.css@(cacheBust)" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    <script>
        pageContext = @Html.Raw(serializedPageContext);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>