@inject XTI_WebApp.Abstractions.IPageContext pageContext
@inject XTI_WebApp.Abstractions.AppPageModel pageModel
@{
    var serializedPageContext = await pageContext.Serialize();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @{
        var cacheBust = string.IsNullOrWhiteSpace(pageContext.CacheBust)
            ? ""
            : $"?cacheBust={pageContext.CacheBust}";
        var rootPath = @Url.Content("~");
    }
    @foreach(var styleSheet in pageModel.PreStyleSheets)
    {
        <link href="@styleSheet.Replace("~", rootPath)@(cacheBust)" rel="stylesheet" />
    }
    <link href="~/styles/css/default.css@(cacheBust)" rel="stylesheet" />
    <link href="~/styles/css/fontawesome/all.css@(cacheBust)" rel="stylesheet" />
    @foreach(var styleSheet in pageModel.PostStyleSheets)
    {
        <link href="@styleSheet.Replace("~", rootPath)@(cacheBust)" rel="stylesheet" />
    }
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    <script>
        pageContext = @Html.Raw(serializedPageContext);
    </script>
    @{
        var scriptCacheBust = string.IsNullOrWhiteSpace(pageContext.CacheBust)
            ? ""
            : $"?cacheBust={pageContext.CacheBust}";
        var scriptRootPath = @Url.Content("~");
    }
    @foreach(var script in pageModel.PreScripts)
    {
        <script src="@script.Replace("~", scriptRootPath)@(scriptCacheBust)"></script>
    }
    @RenderSection("Scripts", required: false)
    @foreach(var script in pageModel.PostScripts)
    {
        <script src="@script.Replace("~", scriptRootPath)@(scriptCacheBust)"></script>
    }
</body>
</html>